/* .App{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.card-deck{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.draw-card{
  margin: 10px;
  align-self: center;
  text-align: center;
}